<div class="container-fluid " style="padding-top: 5rem; padding-bottom: 5rem; background-color: #E49A5F;">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
                <div class="jumbotron  topic" style="border-radius: 40px;">
                    <div class="row">
                        <div class="col-md-6 ml-auto text-center">
                            <img src="./../../../assets/icons/home/logo.png" style="border-radius: 130px;">
                        </div>
                        <div class="col-md-6 ml-auto text-center" style=" padding: 2rem 1rem; font-size: 64px;">
                            ชมรมคอมพิวเตอร์ ยินดีต้อนรับ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Event For Other -->

<div class="container-fluid" style="background-color: #FFEFE2; padding: 4rem;">
    <app-show-event></app-show-event>
</div>